
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.apple-tv-card-container{
    width: 499px !important;
    height: 600px;
    left: 50px;
    top: 200px;
}

.apple-tv-card-container>.apple-tv-card{
    border-radius: 10px !important;
}

.content{
    width: 499px;
    height: 376px;
    background: url("./bg.png") !important;
    background-size: contain !important;
}

.parallax-content > div{
    width: 300px;
    height: 376px;
    top: -20px;
    position: relative;
    background: url("top.png");
    background-size: contain !important;
}

.cardtext{
    top: 250px;
    position: relative;
    font-size: 100px;
    font-family: comic-mono;
    padding: 0 50px;
}
